html
{height: 100%;

}

body {
   
    background-image: url('../Images/fondito.png');
    background-size: cover;
}
}
.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form {
  width: 450px;
}

h4 {
    font-family: 'Segoe UI';
}