body {
   
    background-image: url('../Images/fondito.png');
    background-size: cover;
}
h2{
    font-family: Centaur;
    padding: 0;
    margin: 0;
    text-align: center;
    color:  black;
}

.LblResultado, .LblMensaje{
    font-family: Centaur;
    padding: 0;
    margin: 0;
    text-align: center;
    color:  black;
}

h4{
    font-family: Centaur;
    padding: 0;
    margin: 0;
    text-align: center;
    color:  black;
}
