<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="SITRAMSSConnectionString" connectionString="Data Source=BRYANELAZ\XPS;Initial Catalog=SITRAMSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SITRAMSSConnectionString2" connectionString="Data Source=BRYANELAZ\XPS;Initial Catalog=SITRAMSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SITRAMSSConnectionString3" connectionString="Data Source=.;Initial Catalog=SITRAMSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
